<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script th:src="@{~/js/color-modes.js}"></script>
<script th:src="@{~/js/bootstrap.bundle.min.js}"></script>
<link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet">
<title>Carrinho</title>
</head>
<body>

<div th:insert="~{layoutBase :: header}"></div>
<div style="position: absolute;right: 2%;top: 10%x;"><a class="btn btn-secondary rounded-pill px-3 my-2" th:href="@{~/.}">Voltar</a></div>

<section class="py-5 text-center container">
<h1>Carrinho de Compras</h1>
    <div class="row py-lg-2">
<h2 class="fw-light">Saldo Atual: R$ <span th:text="${saldo}"></span></h2>
<div style="position: absolute;right: -20%;top: 5%x;"><a class="btn btn-primary my-2" th:href="@{/carrinho/fecharCarrinho(id=${compra.id})}">Finalizar Compra</a></div>
<span style="color: red;" th:if="${respostaFinalizar!=null}" th:text="${respostaFinalizar}"></span>
<div class="col-lg-6 col-md-8 mx-auto">
<h3 class="fw-light"><p>
Quantidade de Produtos:
<span th:text="${compra.qtdProdutos}"></span></p>
Preço Total: R$
<span th:text="${compra.precoFinal}"></span></h3>
</div>
</div>
</div>


	<div class="album py-5 bg-body-tertiary">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				<div th:each="e_book : ${e_book_lista}"
					th:if="${e_book.titulo != null}">
					<div th:insert="~{layoutBase :: amostra_e-book}"></div>
				</div>
				
				<div th:each="colecao_e_book : ${colecao_e_book_lista}"
					th:if="${colecao_e_book.serie != null}">
					<div th:insert="~{layoutBase :: amostra_colecao-e-book}"></div>
				</div>

			</div>
		</div>
	</div>
	
	<div th:insert="~{layoutBase :: botaoTema}"></div>

</body>
</html>