<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:replace="~{layoutBase2 :: import}"></div>
<title>CRUD Coleção de E-Book.</title>
</head>
<style>
table, th, td {
	border: 1px solid black;
	text-align: center;
}
</style>
<body>

	<div th:replace="~{layoutBase2 :: header}"></div>
	<div class="row">
		<div
			class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">


			<div th:replace="~{layoutBase2 :: sidebar}"></div>
			<div th:replace="~{layoutBase2 :: icones}"></div>

		</div>
		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div th:if="${colecao_e_book_add != null}">
				<script th:inline="javascript">
					document.addEventListener('DOMContentLoaded', function() {
						document.getElementById('serieAdd').value = '';
					});
				</script>
				<h1>Registrar Coleção de E-Book.</h1>
				<form action="#" th:action="@{/colecao-e-book/add}"
					th:object="${colecao_e_book_add}" method="post">
					<fieldset>
						<legend>Insira os valores</legend>
						<p>
							<label for="Serie">Série</label> <input type="text" name="serie"
								id="serieAdd" th:field="*{serie}" required />
						</p>
						<p>
							<label for="Preco">Preço</label> <input type="number"
								name="preco" id="preco" th:field="*{preco}" min="1" required />
						</p>
						<p>
							<button type="submit">Registrar</button>
						</p>

					</fieldset>
				</form>
				<div th:if="${respostaAdd != null}">
					<span th:text="${respostaAdd}"></span>
				</div>

			</div>

			<div th:if="${colecao_e_book_lista != null}">
				<h2>Buscar E-Book.</h2>
				<form action="/colecao-e-book/buscaSerie" method="post">
					<p>
						<label for="serie">Serie</label> <input type="text" name="serie"
							id="serie" required />

						<button type="submit">Buscar</button>
					</p>
				</form>

				<h1>Lista de Coleções de E-Books.</h1>
				<table>
					<tr>
						<th>Id</th>
						<th>Série</th>
						<th>Preço</th>
						<th>Quantidade de Volumes</th>
					</tr>
					<tr th:each="colecao_e_book : ${colecao_e_book_lista}"
						th:if="${colecao_e_book.serie != null}">
						<td th:text="${colecao_e_book.id}"></td>
						<td th:text="${colecao_e_book.serie}"></td>
						<td th:text="${colecao_e_book.preco}"></td>
						<td th:text="${colecao_e_book.qtdVolumes}"></td>
						<td>
							<button>
								<a th:href="@{/colecao-e-book/editar(id=${colecao_e_book.id})}">Editar</a>
							</button>
							<button>
								<a
									th:href="@{/colecao-e-book/deletarPorSerie(serie=${colecao_e_book.serie})}">Excluir</a>
							</button>
						</td>
					</tr>
				</table>
			</div>


			<div th:if="${colecao_e_book_edit != null}">
				<h1>Atualizar Coleção de E-Book.</h1>
				<form action="#" th:action="@{/colecao-e-book/atualizar}"
					th:object="${colecao_e_book_edit}" method="post">
					<fieldset>
						<legend>Insira os valores</legend>
						<p hidden>
							<label for="Serie">Série</label> <input type="text" name="serie"
								id="serie" th:value="*{serie}" required />
						</p>
						<p>
							<label for="Preco">Preço</label> <input type="number"
								name="preco" id="preco" th:value="*{preco}" min="1" />
						</p>
						<p>
							<button type="submit">Atualizar</button>
						</p>

					</fieldset>
				</form>

				<h2>Lista de E-Books.</h2>
				<table>
					<tr>
						<th>Id</th>
						<th>Título</th>
						<th>Gênero</th>
						<th>Autor</th>
						<th>Editora</th>
						<th>Quantidade de Páginas</th>
						<th>Preço</th>
					</tr>
					<tr th:each="e_book : ${e_book_lista}"
						th:if="${e_book.titulo != null}">
						<td th:text="${e_book.id}"></td>
						<td th:text="${e_book.titulo}"></td>
						<td th:text="${e_book.genero}"></td>
						<td th:text="${e_book.autor}"></td>
						<td th:text="${e_book.editora}"></td>
						<td th:text="${e_book.qtdPaginas}"></td>
						<td th:text="${e_book.preco}"></td>
						<td>
							<button>
								<a
									th:href="@{/colecao-e-book/removeE_Book(serie=${colecao_e_book_edit.serie},titulo=${e_book.titulo})}">Excluir</a>
							</button>
						</td>
					</tr>
				</table>

				<h2>Adicionar E-Book.</h2>
				<form action="/colecao-e-book/addE_Book" method="post">
					<p hidden>
						<label for="serie">Serie</label> <input type="text" name="serie"
							id="serie" th:value="*{colecao_e_book_edit.serie}" required />
					</p>
					<p>
						<label for="titulo">Titulo:</label> <input type="text"
							name="titulo" id="titulo" required />

						<button type="submit">Adicionar</button>
					</p>
				</form>
			</div>
		</main>
	</div>
	<div th:insert="~{layoutBase :: botaoTema}"></div>
</body>
</html>