<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:replace="~{layoutBase2 :: import}"></div>
<title>CRUD Funcionário.</title>
</head>
<style>
table, th, td {
	border: 1px solid black;
	text-align: center;
}
</style>
<body>


	<div th:replace="~{layoutBase2 :: header}"></div>
	<div class="row">
		<div
			class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">


			<div th:replace="~{layoutBase2 :: sidebar}"></div>
			<div th:replace="~{layoutBase2 :: icones}"></div>

		</div>
		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div th:if="${funcionario_add != null}">
				<script th:inline="javascript">
					document.addEventListener('DOMContentLoaded', function() {
						document.getElementById('cpfAdd').value = '';
					});
				</script>
				<h1>Registrar Funcionário.</h1>
				<form action="#" th:action="@{/funcionario/add}"
					th:object="${funcionario_add}" method="post">
					<fieldset>
						<legend>Insira os valores</legend>
						<p>
							<label for="nome">Nome</label> <input type="text" name="nome"
								id="nome" th:field="*{nome}" required />
						</p>
						<p>
							<label for="email">Email</label> <input type="email" name="email"
								id="email" th:field="*{email}" required />
						</p>
						<p>
							<label for="cpf">CPF</label> <input type="text" name="cpf"
								id="cpfAdd" th:field="*{cpf}"
								pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}"
								placeholder="000.000.000-00" required />
						</p>
						<p>
							<label for="senha">Senha</label> <input type="text" name="senha"
								id="senha" th:field="*{senha}" required />
						</p>
						<p>
							<label for="telefone">Telefone:</label> <input type="tel"
								name="telefone" th:field="*{telefone[0]}"
								pattern="\([0-9]{2}\) [0-9]{5}-[0-9]{4}"
								placeholder="(00) 00000-0000" id="telefone" required />
						</p>
						<p>
							<label for="cargo">Cargo:</label> <br /> <span
								th:each="cargoAtual:${cargo_lista}"> <input type="radio"
								name="cargoEscolhido" th:value="${cargoAtual.funcao}" required />
								<label for="funcao" th:text="${cargoAtual.funcao}"></label><br />
							</span>

						</p>
						<p>
							<button type="submit">Registrar</button>
						</p>

					</fieldset>
				</form>
				<div th:if="${respostaAdd != null}">
					<span th:text="${respostaAdd}"></span>
				</div>

			</div>


			<div th:if="${funcionario_lista != null}">
				<h2>Buscar Funcionário.</h2>
				<form action="/funcionario/buscaCPF" method="post">
					<p>
						<label for="cpf">CPF</label> <input type="text" name="cpf"
							id="cpf" required />

						<button type="submit">Buscar</button>
					</p>
				</form>

				<h1>Lista de Funcionários.</h1>
				<table>
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Email</th>
						<th>CPF</th>
						<th>Senha</th>
						<th>Cargo</th>
						<th>Telefones</th>
					</tr>
					<tr th:each="funcionario : ${funcionario_lista}"
						th:if="${funcionario.cpf != null}">
						<td th:text="${funcionario.id}"></td>
						<td th:text="${funcionario.nome}"></td>
						<td th:text="${funcionario.email}"></td>
						<td th:text="${funcionario.cpf}"></td>
						<td th:text="${funcionario.senha}"></td>
						<td th:text="${funcionario.getCargo.getFuncao}"></td>
						<td th:text="${#strings.listJoin(funcionario.telefone, ', ')}"></td>
						<td>
							<button>
								<a th:href="@{/funcionario/editar(id=${funcionario.id})}">Editar</a>
							</button>
							<button>
								<a
									th:href="@{/funcionario/deletePorCPF(cpf=${funcionario.cpf})}">Excluir</a>
							</button>
						</td>
					</tr>
				</table>
			</div>


			<div th:if="${funcionario_edit != null}">
				<script th:inline="javascript">
					document.addEventListener('DOMContentLoaded', function() {
						document.getElementById('telefoneAdd').value = '';
					});
				</script>
				<h1>Atualizar Funcionario.</h1>
				<form action="#" th:action="@{/funcionario/atualizar}"
					th:object="${funcionario_edit}" method="post">
					<fieldset>
						<legend>Insira os valores</legend>
						<p hidden>
							<label for="cpf">CPF do Cliente</label> <input type="text"
								name="cpf" id="cpf" th:value="*{cpf}" required />
						</p>
						<p>
							<label for="nome">Novo Nome</label> <input type="text"
								name="nome" id="nome" th:value="*{nome}" />
						</p>
						<p>
							<label for="email">Novo Email</label> <input type="email"
								name="email" id="email" th:value="*{email}" />
						</p>
						<p>
							<label for="senha">Nova Senha</label> <input type="text"
								name="senha" id="senha" th:value="*{senha}" />
						</p>
						<p hidden>
							<label for="telefone">Telefone:</label> <input type="tel"
								name="telefone" th:field="*{telefone[0]}" id="telefone" required />
						</p>
						<p>
							<label for="cargo">Novo Cargo:</label> <br /> <span
								th:each="cargoAtual:${cargo_lista}"> <input type="radio"
								name="cargoEscolhido" th:value="${cargoAtual.funcao}"
								th:checked="${cargoAtual.funcao == funcionario_edit.getCargo.getFuncao}" />
								<label for="funcao" th:text="${cargoAtual.funcao}"></label><br />
							</span>

						</p>
						<p>
							<button type="submit">Atualizar</button>
						</p>

					</fieldset>
				</form>

				<h2>Lista de Telefones.</h2>
				<table>
					<tr>
						<th>Telefones</th>
					</tr>
					<tr th:each="telefone : ${telefone_lista}">
						<td th:text="${telefone}"></td>
						<td>
							<button>
								<a
									th:href="@{/funcionario/removeTelefone(cpf=${funcionario_edit.cpf},telefone=${telefone})}">Excluir</a>
							</button>
						</td>
					</tr>
				</table>

				<h2>Adicionar Telefone (Limite de 3).</h2>
				<form action="/funcionario/addTelefone" method="post">
					<p hidden>
						<input type="text" name="cpf" id="cpf"
							th:value="*{funcionario_edit.cpf}" required /><input type="text"
							name="nome" id="nome" th:value="*{funcionario_edit.nome}" /> <input
							type="email" name="email" id="email"
							th:value="*{funcionario_edit.email}" /> <input type="text"
							name="senha" id="senha" th:value="*{funcionario_edit.senha}" />
						<span th:each="cargoAtual:${cargo_lista}"> <input
							type="radio" name="cargoEscolhido"
							th:value="${cargoAtual.funcao}"
							th:checked="${cargoAtual.funcao == funcionario_edit.getCargo.getFuncao}" />
					</p>
					<p>
						<label for="telefone">Telefone:</label> <input type="tel"
							name="telefone" th:field="*{funcionario_edit.telefone[0]}"
							id="telefoneAdd" pattern="\([0-9]{2}\) [0-9]{5}-[0-9]{4}"
							placeholder="(00) 00000-0000" required />

						<button type="submit">Adicionar</button>
					</p>
				</form>

			</div>
		</main>
	</div>
	<div th:insert="~{layoutBase :: botaoTema}"></div>
</body>
</html>