<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registrar Cargo.</title>
</head>
<body>
	<h1>Registrar Cargo.</h1>
	<form action="/cargo/" method="post">
		<fieldset>
			<legend>Insira os valores</legend>
			<p>
				<label for="Funcao">Função</label> <input type="text" name="funcao"
					id="funcao" required />
			</p>
			<p>
				<label for="Salario">Salário</label> <input type="text"
					name="salario" id="salario" required />
			</p>
			<p>
				<button type="submit">Registrar</button>
			</p>

		</fieldset>
	</form>

	<h1>Atualizar Cargo.</h1>
	<form action="/cargo/atualizar" method="post">
		<fieldset>
			<legend>Insira os valores</legend>
			<p>
				<label for="Funcao">Função do cargo</label> <input type="text"
					name="funcao" id="funcao" required />
			</p>
			<p>
				<label for="Salario">Novo salário</label> <input type="text"
					name="salario" id="salario" />
			</p>
			<p>
				<button type="submit">Atualizar</button>
			</p>

		</fieldset>
	</form>

	<h2>Deletar Cargo.</h2>
	<form action="/cargo/deletePorFuncao" method="post">
		<p>
			<label for="Funcao">Função</label> <input type="text" name="funcao"
				id="funcao" required />

			<button type="submit">Deletar</button>
		</p>
	</form>


	<h2>Listar Cargos.</h2>
	<form action="/cargo/listarCargos" method="post">
		<p>
			<button type="submit">Listar</button>
		</p>
	</form>
</body>
</html>