<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registrar Compra.</title>
</head>
<body>
	<h1>Registrar Compra.</h1>
	<form action = "/compra/" method = "post">
  <fieldset>
    <legend>Insira os valores</legend>
    <p>
      <label for="dataHora">Data de Hora</label>
      <input type="text" name="dataHora" id="dataHora" required />
    </p>
    <p>
      <label for="qtdProdutos">Quantidade de Produtos</label>
      <input type="text" name="qtdProdutos" id="qtdProdutos" required />
    </p>
    <p>
      <label for="precoFinal">Preço Final</label>
      <input type="text" name="precoFinal" id="precoFinal" required />
    </p>
    <p>
     <button type="submit">Registrar</button> 
     </p>
    
  </fieldset>
</form>
</body>
</html>