<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registrar Compra.</title>
</head>
<body>
	<h1>Registrar Compra.</h1>
	<form action="/compra/" method="post">
		<fieldset>
			<legend>Insira os valores</legend>
			<p>
				<label for="idCliente">Id Cliente</label> <input type="text"
					name="idCliente" id="idCliente" required />
			</p>
			<p>
				<button type="submit">Registrar</button>
			</p>

		</fieldset>
	</form>

	<h1>Atualizar Compra.</h1>
	<form action="/compra/atualizar" method="post">
		<fieldset>
			<legend>Insira os valores</legend>
			<p>
				<label for="idCompra">Id Compra</label> <input type="text"
					name="idCompra" id="idCompra" required />
			</p>
			<p>
				<label for="idCliente">Id Cliente</label> <input type="text"
					name="idCliente" id="idCliente" required />
			</p>
			<p>
				<button type="submit">Atualizar</button>
			</p>

		</fieldset>
	</form>
	
	<h2>Deletar Compra.</h2>
	<form action="/compra/deletar" method="post">
		<fieldset>
			<legend>Insira os valores</legend>
			<p>
				<label for="idCompra">Id Compra</label> <input type="text"
					name="idCompra" id="idCompra" required />
			</p>
			<p>
				<label for="idCliente">Id Cliente</label> <input type="text"
					name="idCliente" id="idCliente" required />
			</p>
			<p>
				<button type="submit">Deletar</button>
			</p>

		</fieldset>
	</form>

	<h2>Listar Compras.</h2>
	<form action="/compra/listarCompras" method="post">
		<p>
			<button type="submit">Listar</button>
		</p>
	</form>

</body>
</html>