<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registrar Cargo.</title>
</head>
<body>
	<h1>Registrar Cargo.</h1>
	<form action = "/cargo/" method = "post">
  <fieldset>
    <legend>Insira os valores</legend>
    <p>
      <label for="Funcao">Função</label>
      <input type="text" name="funcao" id="funcaofuncao" required />
    </p>
    <p>
      <label for="Salario">Salário</label>
      <input type="text" name="salario" id="salario" required />
    </p>
    <p>
     <button type="submit">Registrar</button> 
     </p>
    
  </fieldset>
</form>
</body>
</html>