<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script th:src="@{js/bootstrap.min.js}"></script>
<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
<title>Primeira página.</title>
</head>
<body>

	<div th:insert="~{layoutBase :: frag1}"></div>
	
	<h1>Primeira página.</h1>
	
	<h4>Registrar:</h4>
	<ul><li><a href="./home/new/cliente">Cliente</a>
	<li><a href="./home/new/cargo">Cargo</a>
	<li><a href="./home/new/funcionario">Funcionário</a>
	<li><a href="./home/new/e-book">E-Book</a>
	<li><a href="./home/new/colecao-e-book">Coleção de E-Books</a>
	<li><a href="./home/new/compra">Compra</a></ul>
	</br>
	<h4><a href="./h2-console">Banco de dados</a></h4>
</body>
</html>